
body{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family:Arial;
}

#board{
    display:grid;
    grid-template-columns:repeat(8,70px);
    grid-template-rows:repeat(8,70px);
    border:3px solid black;
}

.square{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:42px;
    cursor:pointer;
}

.white{background:#f0d9b5;}
.black{background:#b58863;}
